<ion-content class="ion-padding" *ngIf="products.length > 0">

  <ion-card class="product-card">

    <div class="counter">
     {{ index + 1 }} / {{ products.length }}
    </div>

    <img [src]="products[index].image" />

    <ion-card-header>
      <ion-card-title class="title">
        {{ products[index].title }}
      </ion-card-title>

      <ion-card-subtitle class="price">
        <ion-icon name="cart-outline"></ion-icon>
        <span>R$ {{ products[index].price }}</span>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ products[index].description }}
    </ion-card-content>

  </ion-card>

  <!-- SETAS -->
  <div class="buttons">

    <ion-button fill="clear" (click)="prev()" [disabled]="index === 0">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button fill="clear" (click)="next()" [disabled]="index === products.length - 1">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>

  </div>

</ion-content>
