<ion-content class="ion-padding">

  <ion-card>

    <img src="assets/img/minhaFoto.jpeg" alt="Minha Foto">

    <ion-card-header>
      <ion-card-title>Joyce Do Vale Silva</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Matrícula:</strong> 25106404</p>
      <p><strong>Unidade:</strong> Bonsucesso</p>
      <p><strong>Turno:</strong> Manhã</p>
      <p><strong>Palavra-chave:</strong> JigglyPuff</p>
      <a
    href="https://github.com/J01C3"
    target="_blank"
    class="github-icon"
  >
    <ion-icon name="logo-github"></ion-icon>
  </a>
    </ion-card-content>

  </ion-card>

</ion-content>
