<ion-content class="ion-padding">

  <!-- BOTÃO ÚNICO -->
  <ion-button
    expand="block"
    (click)="toggleProducts()"
    class="toggle-btn"
  >
    {{ showProducts ? 'Ocultar Produtos' : 'Mostrar Produtos' }}
  </ion-button>

  <ng-container *ngIf="showProducts">

    <ion-card *ngFor="let product of products">

      <img [src]="product.image" />

      <ion-card-header>
        <ion-card-title>
          {{ product.title }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <p class="description">
          {{ product.description }}
        </p>

        <h2 class="price">
          R$ {{ product.price }}
          <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
        </h2>

      </ion-card-content>

    </ion-card>

  </ng-container>

</ion-content>
