<ion-content class="ion-padding">

    <div class="botao">
      <ion-button class="toggle-btn" (click)="toggle()" slot="primary" fill="solid"> {{ show ? 'Ocultar produtos' : 'Mostrar produtos' }}
      </ion-button>
    </div>


  <div *ngIf="show">

    <ion-card *ngFor="let p of products; let i = index">

      <div class="counter">
        {{ i + 1 }} / {{ products.length }}
      </div>

      <img [src]="p.image" />

      <ion-card-header>
        <ion-card-title class="title">
          {{ p.title }}
        </ion-card-title>

        <ion-card-subtitle class="price">
          <ion-icon name="cart-outline"></ion-icon>
          R$ {{ p.price }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ p.description }}
      </ion-card-content>

    </ion-card>

  </div>

</ion-content>
