:host {
  display: block;
}

ion-content {
  --background: linear-gradient(135deg, #6a11cb, #0d070d)!important;
}

.toggle-btn {
  width: 100%;
  margin-bottom: 15px;
  color: white !important;
  font-weight: bold;
  border-radius: 12px;
}

/* CARD */
ion-card {
  border-radius: 16px;
  margin-bottom: 15px;
  text-align: center;
  overflow: hidden;
}

ion-card img {
  height: 160px;
  object-fit: contain;
  padding: 10px;
}

/* TÍTULO */
.title {
  font-size: 14px;
  font-weight: bold;
}

/* PREÇO */
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  color: #6a11cb;
  font-size: 19px;
  font-weight: bold;
}

.price ion-icon {
  font-size: 25px;
  color: #6a11cb;
}

/* CONTADOR 1/20 */
.counter {
  position: absolute;
  top: 10px;
  right: 10px;

  background: rgba(0, 0, 0, 0.6);
  color: white;

  padding: 4px 10px;
  border-radius: 12px;

  font-size: 12px;
  font-weight: bold;
}
